<style>
	.bard{
				color: #0000b3;
				font-size: 15px;
			}
			.text1{
				color: #0000b3;
				font-size: 18px;
			}
			.list{
				color: #000000;
				font-size: 16px;
			}
			#amazing{
				background-color: #666666;
			}
			#button{
				width: 110px;
				height: 40px;
				color: white;
				background-color: black;
				border-radius: 15px; 
			}
			.blueboy{
				height: 18px;
				width: 850px;
				border: 5px solid #000000;
				background-color: #ffffff;
				margin-bottom: 5em;
			}
			.image{
				height: 300px;
				width: 350px;
			}
			.Trivia{
				height: 300px;
				width: 350px;
				border: 5px double darkred;
				padding: 5em, 15em;
			}
			.wrap-list{
				height: 85px;
				width: 150px;
				border: 0px double red;
			}
			.pupper{
				font-size: 18px;
				color: black;
			}
			#one{
				height: 150px;
				width: 150px;
				background-color: red;
				display: inline-block;
				position: fixed;
				left: 25%;
				z-index: 1;
			}
			#two{
				height: 150px;
				width: 150px;
				background-color: green;
				display: inline-block;
				position: absolute;
				z-index: 2;
			}
			#three{
				height: 150px;
				width: 150px;
				background-color: blue;
				display: inline-block;
				position: relative;
				top: 750px;
			}
			#domino{
				height: 2048px;
			}
			.navitem {
				list-style-type: none;
				display: inline;
				padding-right: 1.5em;
			}
			#navmenu {
				width:250px;
				height:30px;
				margin:auto;
			}
			a:link{ 
				color:blue;
			} 
			a:visited{ 
				color:maroon;
			} 

			a:hover{ 
				color:orange;
			} 

			a:active{ 
				color:red;
			}
			#rightside{
				float:right;
				width: 350px;
			}
			#leftside{
				width: 400px;
			}
</style>